*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;    
}

h1 {
  padding: 50px;
  background-color: aquamarine;
  text-align: center;
  background-color:#f7f7f7;
  border-bottom: 1px solid black;
}

h2 {
  color: white;
}

nav {
  display: flex;
  background-color: #333;
  justify-content: end;
  flex-direction: column;
  
}

nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

header{
  line-height: 3;
  font-size: 1.5rem;
}

.reference-links{
  line-height: 1;
  font-size: 1rem;
}


p {
  line-height: 1.5;
  text-align: justify;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /*margin-left: 1%;*/
}

ul{
  line-height: 1.5;
  padding-inline-start: 40px;
}

.row {
  display:flex;
  flex-wrap: wrap;
}

aside {
  flex: 30px;
  /*background-color: beige;*/
  background-color: #333;
  padding: 20px;
}

 main{
  flex: 60%;
  /*background-color: yellow;*/
   background-color: #fff;
  /*padding: 20px;*/
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  /*position: relative;*/
  /*word-break: normal;*/
  /*word-wrap: normal;*/
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

section {
  border-bottom: 1px solid black;
  padding: 0px 20px 20px 20px;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: orange;
}

@media screen and (max-width: 700px){
  nav, .row {
    flex-direction: column;
  }
}
